@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@300;400;500&display=swap');

@import "../../src/styles/static.scss";
@import "../../src/styles/animation.scss";
@import "../../src/styles/header.scss";
@import "../../src/styles/home.scss";
@import "../../src/styles/Work.scss";
@import "../../src/styles/timeline.scss";
@import "../../src/styles/services.scss";
@import "../../src/styles/testimonial.scss";



* {
    margin: 0%;
    padding: 0%;
    font-family: $text2;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

a {
    text-decoration: none;

}

body {
    background-color: $color1;
    overflow-x: hidden;
}

.disableBtn {
    background-color: rgb(237, 237, 237);
    cursor: not-allowed;
}